.single-product {
    & a {
        text-decoration: none;
        color: var(--text-color);
        transition: color 0.3s;

        &:hover {
            color: var(--primary);
        }
    }

    .img {
        border: 1px solid var(--border-color);
        padding: 10px;
        position: relative;
        overflow: hidden;

        & img {
            width: 100%;
            height: auto;
        }

        .heart {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            background-color: #fff;
            border: 1px solid var(--border-color);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            border-radius: 50%;
            transition: .3s ease all;

            & svg {
                fill: #000;
                transition: .3s ease all;
            }

            &:hover {
                background-color: rgb(223, 69, 69);
                border: 1px solid transparent;

                & svg {
                    fill: #fff;
                }
            }
        }

        .heart.active {
            background-color: rgb(223, 69, 69);
            border: 1px solid transparent;

            & svg {
                fill: #fff;
            }
        }


        .add {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 10px;
            text-align: center;
            background-color: var(--primary);
            color: #fff;
            font-weight: bold;
            cursor: pointer;
            transition: .3s ease all;
            transform: translateY(100%);

            &:hover {
                background-color: #000;
            }
        }

        .out-of-stock {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 10px;
            text-align: center;
            background-color: #f00;
            color: #fff;
            font-weight: bold;
        }
    }

    .info {
        margin-top: 10px;

        & h3 {
            font-weight: 900;
            letter-spacing: -1px;
        }
    }

    &:hover {
        .img {
            .add {
                transform: translateY(0);
            }
        }
    }
}

.single-product.animate-remove {
    animation: fadeOutToLeft 0.3s forwards;
}

.single-product.hidden {
    opacity: 0;
    display: none;
}

/* Animations */
@keyframes fadeOutToLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}