.sidebar {
    width: 400px;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    border: 1px solid var(--border-color);
    transition: .3s ease all;
    padding: 20px;

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;

        & button {
            background-color: transparent;
            border: none;
            color: var(--text-color);
            cursor: pointer;
            transition: .3s ease all;

            &:hover {
                color: var(--primary);
            }
        }
    }

    .search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;

        & input {
            width: 100%;
            height: 40px;
            padding: 10px;
            border: 1px solid var(--border-color);
            background-color: var(--background-color);
            color: var(--text-color);
            outline: none;
            transition: .3s ease all;

            &:hover {
                border-color: var(--border-color-focus);
            }

            &:focus {
                border-color: var(--border-color-focus);
            }
        }
    }

    .links {
        margin-top: 30px;
        display: flex;
        flex-direction: column;

        & a,
        & p {
            color: var(--text-color);
            text-decoration: none;
            font-weight: 300;
            margin-bottom: 10px;
            transition: .3s ease all;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:hover {
                color: var(--primary);
            }
        }

        & p {
            cursor: pointer;
        }

        & svg {
            transition: .3s ease all;
        }

        .open {
            & svg {
                transform: rotate(180deg);
            }
        }

        .help {
            max-height: 0;
            overflow: hidden;
            border-left: 1px solid var(--border-color);
            padding-left: 20px;
            transition: .3s max-height ease-out;
        }

        .help.active {
            max-height: 100px;
        }
    }

    .language {
        position: absolute;
        bottom: 20px;
        right: 20px;

        & button {
            display: block;
            margin: 0 auto;
            padding: 10px;
            width: 100px;
            border: none;
            background-color: var(--text-color);
            color: var(--background-color);
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--primary);
            }
        }
    }
}

/* Responsive styles */
@media(max-width: 800px) {
    .sidebar {
        width: 100%;
    }
}