.home-page {
    .banner {
        & img {
            width: 100%;
            min-height: 200px;
            object-fit: cover;
            transition: .3s ease all;

            &:hover {
                opacity: 0.9;
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            background-color: var(--background-color-3);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color: #000;
            display: flex;
            transition: .3s ease all;

            &::after {
                font-size: 1.5em;
            }

            &:hover {
                background-color: #000;
                color: #fff;
            }
        }

        .swiper-pagination-bullet {
            background-color: var(--background-color-3);
        }
    }

    .section {
        margin: 20px 0;

        & h1 {
            font-size: 3em;
            text-align: center;
            font-weight: 900;
            transition: .3s color;
            cursor: pointer;

            &:hover {
                color: var(--primary);
            }
        }

        .products {
            margin: 30px 0;

            .swiper-button-prev,
            .swiper-button-next {
                top: 40%;
                background-color: var(--secondary);
                width: 50px;
                height: 50px;
                border-radius: 50%;
                color: #000;
                display: flex;
                transition: .3s ease all;

                &::after {
                    font-size: 1.5em;
                }

                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }

        &>a {
            display: block;
            text-align: center;
            text-decoration: none;
            margin: 0 auto;
            width: 300px;
            padding: 15px;
            border: none;
            background-color: var(--text-color);
            color: var(--background-color);
            cursor: pointer;
            font-size: 1.1em;
            font-weight: 900;
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--primary);
            }
        }
    }

    .keep-in-touch {
        margin: 40px 0;
        width: 100%;
        background-color: var(--background-color-4);
        color: var(--text-color-light);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        gap: 20px;

        & h1 {
            font-size: 3em;
            font-weight: 900;
        }

        .inputs {
            display: flex;
            gap: 20px;
            width: 100%;
            max-width: 800px;

            & input {
                flex: 1;
                padding: 10px;
                border: none;
                font-size: 1.1em;
                outline: none;
                border: 1px solid var(--border-color);
            }

            & button {
                padding: 10px 50px;
                border: none;
                background-color: var(--primary);
                color: var(--background-color);
                cursor: pointer;
                font-size: 1.1em;
                font-weight: 900;
                transition: background-color 0.3s;

                &:hover {
                    background-color: var(--text-color);
                }
            }
        }
    }

    .bottom-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        & div {
            width: 50%;

            & img {
                width: 100%;
                max-height: 250px;
                object-fit: cover;
                transition: .3s ease all;

                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
}

@media(max-width: 800px) {
    .home-page {
        .section {
            & h1 {
                font-size: 2em;
            }

            .products {

                .swiper-button-prev,
                .swiper-button-next {
                    top: 40%;
                    background-color: var(--secondary);
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    color: #000;
                    display: flex;
                    transition: .3s ease all;

                    &::after {
                        font-size: 1.5em;
                    }

                    &:hover {
                        background-color: #000;
                        color: #fff;
                    }
                }
            }

            & button {
                width: 200px;
                padding: 10px;
                font-size: 1em;
            }
        }

        .keep-in-touch {
            padding: 20px;

            & h1 {
                font-size: 2em;
            }

            .inputs {
                flex-direction: column;
                gap: 10px;

                & input {
                    padding: 10px;
                    font-size: 1em;
                }

                & button {
                    padding: 10px 30px;
                    font-size: 1em;
                }
            }
        }
    }
}