.not-found-page {
    width: 60%;
    margin: 20px auto;
    min-height: 60vh;

    & h1 {
        font-weight: 900;
        font-size: 3em;
    }

    & p {
        margin-top: 20px;
    }
}

/* Responsive styles */
@media (max-width: 768px) {
    .not-found-page {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        & h1 {
            font-size: 2em;
        }
    }
}