.product-details-page {
    padding: 40px 0;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;

    .general {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        .img {
            width: 60%;
            overflow: hidden;
            border: 1px solid var(--border-color-3);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 10px;
            background-color: var(--background-color-7);

            & img {
                width: 100%;
                transition: .3s ease all;
                cursor: pointer;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        .about {
            width: 37%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .artist {
                font-size: 1.2em;
                text-transform: uppercase;
            }

            .title {
                margin-top: 5px;
            }

            .label {
                margin-top: 10px;
                color: var(--text-color-2);
                font-weight: 900;
                text-transform: uppercase;
            }

            .price {
                font-size: 1.5em;
                font-weight: 900;
                margin: 10px 0;
            }

            .buttons {
                display: flex;
                align-items: center;
                gap: 10px;

                & button {
                    width: 100%;
                    padding: 10px;
                    border: none;
                    background-color: var(--primary);
                    color: var(--background-color);
                    cursor: pointer;
                    font-size: 1.1em;
                    font-weight: 900;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: var(--text-color);
                    }

                    &:disabled {
                        background-color: var(--text-color-2);
                        cursor: not-allowed;
                    }
                }

                .add-wishlist {
                    cursor: pointer;
                    transition: color 0.3s;
                    background-color: #fff;
                    border: 1px solid var(--border-color);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5px;
                    border-radius: 50%;
                    transition: .3s ease all;

                    & svg {
                        fill: #000;
                        transition: .3s ease all;
                    }

                    &:hover {
                        background-color: rgb(223, 69, 69);
                        border: 1px solid transparent;

                        & svg {
                            fill: #fff;
                        }
                    }
                }

                .add-wishlist.active {
                    background-color: rgb(223, 69, 69);
                    border: 1px solid transparent;

                    & svg {
                        fill: #fff;
                    }
                }
            }

            .details {
                margin-top: 20px;
                line-height: 1.5;
            }
        }
    }

    .description {
        margin-top: 40px;
    }

    .tracklist {
        width: 100%;
        max-width: 800px;
        margin: 40px auto;
        border: 1px solid var(--border-color-3);

        & h2 {
            font-size: 2em;
            font-weight: 900;
            text-align: center;
            margin: 10px 0;
        }

        & ul {
            list-style: none;
            padding: 0;

            & li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                border-top: 1px solid var(--border-color-3);
                cursor: pointer;
                transition: .3s ease all;

                & span {
                    font-weight: 900;
                }

                &:hover {
                    background-color: var(--background-color-7);
                }
            }
        }
    }

    .section {
        margin: 20px 0;

        & h1 {
            font-size: 3em;
            text-align: center;
            font-weight: 900;
            transition: .3s color;
            cursor: pointer;

            &:hover {
                color: var(--primary);
            }
        }

        .products {
            margin: 30px 0;

            .swiper-button-prev,
            .swiper-button-next {
                top: 40%;
                background-color: var(--secondary);
                width: 50px;
                height: 50px;
                border-radius: 50%;
                color: #000;
                display: flex;
                transition: .3s ease all;

                &::after {
                    font-size: 1.5em;
                }

                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }

        &>a {
            display: block;
            text-align: center;
            text-decoration: none;
            margin: 0 auto;
            width: 300px;
            padding: 15px;
            border: none;
            background-color: var(--text-color);
            color: var(--background-color);
            cursor: pointer;
            font-size: 1.1em;
            font-weight: 900;
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--primary);
            }
        }
    }

    .not-found {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;

        & p {
            font-size: 2em;
            font-weight: 900;
        }
    }
}

/* Responsive styles */
@media(max-width: 800px) {
    .product-details-page {
        .general {
            flex-direction: column;

            .img {
                width: 100%;
            }

            .about {
                width: 100%;
                margin-top: 20px;
            }
        }

        .section {
            & h1 {
                font-size: 2em;
            }

            .products {

                .swiper-button-prev,
                .swiper-button-next {
                    top: 40%;
                    background-color: var(--secondary);
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    color: #000;
                    display: flex;
                    transition: .3s ease all;

                    &::after {
                        font-size: 1.5em;
                    }

                    &:hover {
                        background-color: #000;
                        color: #fff;
                    }
                }
            }

            & button {
                width: 200px;
                padding: 10px;
                font-size: 1em;
            }
        }
    }
}