.terms-of-service-page {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;

    & h1,
    & h2 {
        text-transform: uppercase;
    }

    & h1 {
        text-align: center;
        font-size: 3em;
        margin: 20px 0;
        font-weight: 900;
    }

    & h2 {
        font-weight: 700;
    }

    .section {
        margin: 40px 0;

        & p {
            margin: 20px 0;
        }
    }
}

/* Responsive styles */
@media(max-width: 800px) {
    .terms-of-service-page {
        & h1 {
            font-size: 2em;
        }
    }
}