.home {
    & h1 {
        font-family: var(--font2);
    }

    .banner {
        width: 100%;
        height: 300px;
        background-image: url('../images/banner_bg.jpg');
        background-size: cover;
        background-position: center;
        margin: 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        .overlay {
            background-color: var(--primary);
            opacity: .8;
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .content {
            z-index: 2;
            color: #fff;
            text-align: center;

            & h1 {
                margin-bottom: 10px;
            }

            & a {
                display: inline-block;
                text-decoration: none;
                margin-top: 20px;
                background-color: var(--primary2);
                border: 1px solid rgba(255, 255, 255, .1);
                color: #fff;
                padding: 10px 20px;
                border-radius: 10px;
                cursor: pointer;
                transition: .3s ease all;

                &:hover {
                    background-color: var(--primary);
                }
            }
        }
    }

    .highlighted_products {
        margin: 20px 0;

        .swiper {
            margin: 20px 0;
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            .img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                /* &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: var(--primary);
                    opacity: .3;
                    z-index: 1;
                    border-radius: 10px;
                    transition: .5s ease all;
                } */
                .effect {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 50%;
                    left: 50%;
                    transform-origin: center;
                    transform: translate(-50%, -50%) scale(0, 0);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    background-color: rgba(0,0,0, .5);
                    border-radius: 10px;
                    transition: .3s ease all;
                    opacity: 0;
                    & svg {
                        transition: .5s ease all;
                        color: rgba(255, 255, 255, .7);
                    }
                    & svg:hover {
                        color: #fff;
                    }
                }
                &:hover .effect {
                    transform: translate(-50%, -50%) scale(1, 1);
                    opacity: 1;
                }
            }
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            position: relative;
        }
        .swiper-button-next, .swiper-button-prev {
            color: var(--primary);
            margin-bottom: 20px;
        }
    }

    .reviews {
        margin: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        .review {
            padding: 20px;
            background-color: rgba(0,0,0,.05);
            border: 1px solid rgba(0,0,0,.1);
            border-radius: 10px;
            cursor: pointer;
            transition: .3s ease all;
            .top {
                display: flex;
                align-items: center;
                gap: 10px;
                & img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 1px solid rgba(0,0,0,.1);
                }
            }
            & p {
                margin-top: 10px;
            }
        }
        .review:hover {
            background-color: rgba(0,0,0,.08);
            transform: translateY(-5px);
        }
    }
}

/* Media queries */
@media(max-width: 700px){
    .reviews {
        flex-direction: column;
        gap: 20px;
    }
}