/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Import variables */
@import './variables.css';

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--background-color);
}

/* Container */
.container {
    width: 95%;
    margin: 0 auto;
}

/* General styles */
.range-slider {
    height: 10px !important;
    background: #b9b9b9;

    .range-slider__range {
        background: var(--text-color) !important;
    }

    .range-slider__thumb {
        width: 10px !important;
        height: 20px !important;
        border-radius: 4px !important;
        background: var(--background-color) !important;
        border: 1px solid var(--text-color-2) !important;
    }
}