:root {
    --font-family: 'Open Sans', sans-serif;
    --text-color: #000;
    --text-color-light: #eee;
    --background-color: #fff;
    --background-color-2: #363636;
    --background-color-2-hover: #000;
    --background-color-3: #f5fdef;
    --background-color-4: #00230e;
    --background-color-5: #fafafa;
    --background-color-6: #e5e5e5;
    --border-color: #d3d3d3;
    --border-color-focus: #000;
    --border-color-2: #eee;
    --filter: invert(0);
    --primary: #00b41b;
    --secondary: #deffca;
}

/* TODO: Fix the dark theme for all the components and pages */
body.dark {
    --text-color: #fff;
    --text-color-light: #000;
    --background-color: #000;
    --background-color-2: #000;
    --background-color-2-hover: #363636;
    --background-color-3: #000;
    --background-color-4: #fff;
    --background-color-5: #000;
    --background-color-6: #000;
    --border-color: #000;
    --border-color-focus: #fff;
    --border-color-2: #000;
    --filter: invert(1);
    --primary: #00b41b;
    --secondary: #deffca;
}